METABALL_BIND_HOST=0.0.0.0
METABALL_API_PORT=8780
METABALL_PREVIEW_GRID=64
METABALL_MAX_BODY_BYTES=65536
METABALL_MAX_CONCURRENT=2
METABALL_RATE_LIMIT=30
METABALL_RATE_WINDOW=60
METABALL_ALLOWED_ORIGINS=*
